<%= page_title "#{t 'sessions.sign_in'}" %>

<div class="content">
  <%= simple_form_for(:session, url: sessions_path, method: :post, html: {class: 'pure-form form-signin'}) do |f| %>
	  <%= render 'flash' %>
	  <%= f.error_notification %>

	  <%= f.input :email, label: false, autofocus: true %>
	  <%= f.input :password, label: false %>
	  <label class="pure-checkbox">
	    <%= check_box_tag :remember_me, true %> <%= t 'remember_me' %>
	  </label>

	  <p><%= f.button :submit, class: 'pure-button pure-button-primary' %></p>

		<p>
			<%= link_to "#{t 'sessions.login_with_centralid'}", "/auth/centralid" %>
			<span class="pull-right"><%= link_to "#{t 'passwords.forgot'}", new_password_path %></span>
		</p>
  <% end %>
</div>