<%= content_for :email_intro do %>
  Welcome
<% end %>

<%= content_for :email_body do %>
  Hi <%= @user.full_name %>, thanks for joining.

  <p>Feel free to get in touch should you require any help.</p>
<% end %>

<%= content_for :email_call_to_action do %>
  <%= link_to "View My Feed", feed_url %>
<% end %>