<%= content_for :page_title do %>My Applications<% end %>
<%= content_subhead do %>
  <%= link_to 'New Application', new_application_path, class: 'pure-button pure-button-primary' %>
<% end %>

<% if @applications.any? %>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Name</th>
        <th>Token</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= link_to application.name, edit_application_path(application) %></td>
          <td><%= application.auth_token %></td>
          <td><%= button_link_to "Members", application_users_path(application), level: 'primary', size: 'small' %></td>
          <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: "#{ t 'are_you_sure'}"}, class: 'pure-button pure-button-danger pure-button-small' if application.is_owner?(current_user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="pure-alert pure-alert-info">You don't have any applications yet.</p>
<% end %>
