<%= content_for :page_title do %>
  <%= @application.name %>
<% end %>

<% if @application.events.any? %>
  <%= form_tag(search_application_events_path(@application), method: :get, remote: true, id: 'main-search', class: 'pure-form pure-g') do |f| %>
    <%= render 'search_fields' %>
  <% end %>

  <div id="events-list">
  	<%= render 'events/events', events: @application.events %>

  	<%#= paginate events: @application.events %>
  </div>
<% else %>
  <p class="pure-alert pure-alert-info">
  	<b>No data received</b><br>
  	Have a look to our <%= link_to "documentation", documentation_path %> to get started.
  </p>
<% end %>