<%= page_title "#{t 'sessions.sign_up'}" %>

<div class="content">
  <%= simple_form_for(@user, url: registrations_path, html: {class: 'pure-form form-signin'}) do |f| %>
	  <%= render 'flash' %>
	  <%= f.error_notification %>

	  <%= f.input :email, autofocus: true, label: false %>
	  <%= f.input :full_name, label: false, placeholder: 'Full Name' %>
	  <%= f.input :password, label: false, hint: false %>
	  <%= f.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>

	  <p><%= f.button :submit, "#{t 'sessions.sign_up'}", class: "btn btn-lg btn-primary btn-block" %></p>
    <p>
      <%= link_to "#{t 'sessions.signup_with_centralid'}", "/auth/centralid" %>
      <span class="pull-right"><%= link_to "#{t 'sessions.sign_in'}", login_path %></span>
    </p>
	<% end %>
</div>