<%= content_tag_for :div, event do %>
  <div class="pure-g summary">
    <div class="pure-u-3-24">
      <%= status_tag event.status, level: "#{event.status}" %>
    </div>
    <div class="pure-u-20-24">
      <%= event.message %>
    </div>
    <div class="pure-u-1-24">
      <%= icon_tag 'menu' %>
    </div>
  </div>
  <div class="pure-g metadata">
    <div class="pure-u-1-3">
        <div class="meta-key tright">
          Received
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="meta-value">
          <%= l event.created_at, format: :long %>
        </div>
      </div>
    <% [0, 1, 2, 3].sample.times do %>
      <div class="pure-u-1-3">
        <div class="meta-key tright">
          <%= 'key' %>
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="meta-value">
          <%= 'value' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>