<%= content_tag_for :div, event do %>
  <div class="pure-g summary">
    <div class="pure-u-3-24">
      <%= status_tag (event.formatted_date), level: "#{event.status}" %>
    </div>
    <div class="pure-u-20-24">
      <%= event.message %>
    </div>
    <div class="pure-u-1-24">
      <%= icon_tag 'menu' %>
    </div>
  </div>
  <div class="pure-g metadata">
    <div class="pure-u-1-3">
        <div class="meta-key tright">
          Status
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="meta-value">
          <%= event.status.upcase %>
        </div>
      </div>
    <% if event.metadata.present? %>
      <% event[:metadata].each do |key, value| %>
        <div class="pure-u-1-3">
          <div class="meta-key tright">
            <%= key %>
          </div>
        </div>
        <div class="pure-u-2-3">
          <div class="meta-value">
            <%= value %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>