<%= content_for :page_title do %>Feed<% end %>

<% if @events.any? %>
  <%= form_tag(search_events_path, method: :get, id: 'main-search', class: 'pure-form pure-g') do |f| %>
    <%= render 'search_fields' %>
  <% end %>

  <div id="events-list">
  	<%= render 'events' %>
  </div>
<% else %>
  <p class="pure-alert pure-alert-info">
  	<b>No data received</b><br>
  	Have a look to our <%= link_to "documentation", documentation_path %> to get started.
  </p>
<% end %>