<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <%= link_to t('site_name'), logged_in? ? feed_path : root_path, class: 'pure-menu-heading logo' %>

    <ul>
      <li><%= link_to 'Docs', documentation_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <% if logged_in? %>
        <li><%= link_to 'My Feed', feed_path %></li>
        <li><%= link_to "#{t 'sessions.sign_out'}", logout_path, method: :post %></li>
      <% else %>
        <li><%= link_to "#{t 'sessions.register'}", signup_path %></li>
        <li><%= icon_link_to "#{t 'sessions.sign_in'}", login_path, icon: 'user' %></li>
      <% end %>
    </ul>
  </div>
</div>