<%= page_title t('passwords.change') %>

<div class="content">
	<%= simple_form_for(@user, url: password_path, method: :put, html: {class: 'form-signin'}) do |f| %>
	  <%= f.error_notification %>
    <% if params[:application].present? %>
      <div class="pure-alert pure-alert-info">
        Hi there, please choose a password to join your team.
      </div>
    <% end %>
	  <p><%= t 'email' %>: <b><%= @user.email %></b></p>
	  <%= f.input :password, hint: false, label: false %>
	  <%= f.input :password_confirmation, label: false, placeholder: t('passwords.password_confirmation_hint') %>

	  <%= hidden_field_tag :token, @token %>
	  <%= hidden_field_tag :application, @application %>

	  <%= f.button :submit, "#{t 'passwords.update'}", class: "btn btn-primary btn-block" %>
	<% end %>
</div>