<%= simple_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name, autofocus: true %>
    <div class="pure-control-group string required search_name">
      <%= f.label :color %>
      <ul class="color-picker">
        <% %w(orange light-blue red green grey black purple).each do |color| %>
          <li>
            <label>
              <%= f.radio_button :color, color %>
              <span>
                <i class="icon-checkmark"></i>
              </span>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Destroy', @search, method: :delete, data: { confirm: "#{ t 'are_you_sure'}"}, class: 'pure-button pure-button-danger pull-right' unless @search.new_record? %>
  </div>
<% end %>
