<%= content_for :page_title do %>
  <%= @search.name %>
  <%= link_to 'Edit', edit_search_path(@search), style: 'font-size: 40%;' %>
<% end %>

<%= hidden_field_tag :update_search_url, search_path(@search) %>
<%= form_tag(search_events_path, method: :get, remote: true, id: 'main-search', class: 'pure-form pure-g') do |f| %>
  <div class="pure-u-2-3 center-block">
	  <%= text_field_tag :query, '', value: @search.criteria ? @search.criteria.to_json : "", placeholder: "#{Date.today.strftime("%d/%m/%Y")}, info, message...", class: 'pure-input-rounded pure-input-2-3' %>
	  <%= submit_tag 'Search', class: 'pure-button' %>
	  <%= link_to "Save", "#", id: 'save-search-link' %>
	</div>
<% end %>

<%= render 'events/events' %>
