<!DOCTYPE html>
<html>
<head>
  <title><%= t 'site_name' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="layout" class="">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
    </a>

    <%= render 'sidebar' %>

    <div id="main">
      <div class="header">
        <h1><%= yield :page_title %></h1>
      </div>

      <div class="content">
        <%#= render 'header' %>

        <%= render 'flash' %>
        <%= yield %>
      </div>
    </div> <!-- #main -->
  </div> <!-- #layout -->
</body>
</html>