<!DOCTYPE html>
<html>
<head>
  <title><%= t 'site_name' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <%= render 'pages/header' %>
  <%= yield :splash if content_for?(:splash) %>
  <%= content_tag :div, class: content_for?(:splash) ? 'content-wrapper' : 'content-basic' do %>
    <%= yield %>
  <% end %>
  <%= render 'pages/footer' %>
  <% if Rails.env.production? && @render_shared_scripts == true %>
    <%= render 'segment_io' %>
  <% end %>
</body>
</html>